.App {
  text-align: center;
}

:root {
  background: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div {
  line-height: 0;
}

/*Define square render color depending on value*/
.square.fill-1 {
  background: red;
}

.square.fill-2 {
  background: #2ecc71;
}

.square:hover {
}

.square:hover:active {
  box-shadow: inset 0 -5px darkgray;
  transform: translateY(4px);
}

/* locked squares */
.square.locked.fill-2 {
  background: linear-gradient(rgba(0, 128, 0, 0.5), rgba(34, 139, 34, 0.5));
}

.square.square.locked.fill-1 {
  background: linear-gradient(rgba(178, 34, 34, 0.5), rgba(178, 34, 34, 0.5));
}



.App div:first-of-type .square {
  margin-top: 3em;
}

.square {
  max-width: 70px;
  max-height: 70px;
  padding: 2.5%;
  display: inline-block;
  background: darkgray;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 23px;
  box-shadow: inset 0 -6px 5px 1px darkgray;
  overflow: hidden;
  position: relative;
}


.square.dupe,
.square.error {
  border-color: #f0e68c;
}


.square::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
  background: #f39c12;
  transition: 0.5s;
  transform: scale(0);
  border-radius: 50%;
}

.square:hover::before {
  transform: scale(1);
  box-shadow: 0 0 2px 3px #f1c40f
}

.startButton {
  margin-top: 10px;
  padding: 1em 3em;
  display: inline-block;
  border-radius: 15px;
  background: rgba(76, 49, 78, 0.534);
  color: #fff;
  box-shadow: 0 6px 2px 1px #666;
}

.startButton:focus {
  outline: 0;
}

.startButton span::after {
  content: "\21BA";
  font-size: 500%;
  display: inline-block;
  transition: 700ms;
}

.startButton span:hover::after{
  transform: rotate(180deg)
}


.startButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: aquamarine;
}




